* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f0f0f0;

  padding-bottom: 50px;
}

h1, h2 {
  margin: 1em 0;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

form {
  align-items: center;
  padding: 1em;
  border-radius: 0.25em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 80%;
  
  margin: auto;
}

.form-input {
  margin-bottom: 1em;
  width: 100%;
}

input[type="text"],
button[type="submit"] {
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  width: 100%;
  font-size: 1rem;
  color: #333;
}

input[type="text"] {
  border: 1px solid #ccc;
}

input[type="text"]::placeholder {
  color: #ccc;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

#ranking, #history {
  margin: 2em auto;
  padding: 1em;
  width: 80%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  font-size: 14px;
  line-height: 1.2;
}

th {
  text-align: center;
}

td {
  text-align: left;
  padding: 8px;
}

th:first-child, td:first-child {
  width: 20px;
  text-align: center;
}

td:nth-child(2) {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}
